body {
  font-family: "Roboto", sans-serif;
  color: slategrey;
}

h1 {
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 15px;
  color: slategray;
}

h2 {
  text-transform: capitalize;
  font-size: 25px;
  color: grey;
  padding-top: 0px;
}

.card {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.date {
  padding-top: 20px;
  text-align: right;
}

.search {
  width: 70%;
}
.footer {
  text-align: center;
}
.temperature {
  font-weight: bold;
  font-size: 40px;
  padding-right: 10px;
}
.units {
  font-size: 16px;
}
.weather-icon {
  width: 60px;
}
.wind-element {
  font-weight: lighter;
  font-size: 16px;
}
.weather-forecast {
  text-align: center;
}
.weather-forecast-day {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.temperature-forecast-min {
  opacity: 0.7;
}
